*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.Main-table{
	margin:0 auto;
    width: 90%;
    padding: 5px 0px;
}
.Intro{
	text-align:center;
}

.Intro h2{
	font-size:30px;
	font-weight:700;
	color:#1d63af;
	margin-bottom:25px;
	margin-top: 20px;
	font-family: 'Raleway', sans-serif;
}
.Intro p{
	color:rgba(70,70,70,255);
	margin-bottom:25px;
	font-family:'Raleway', sans-serif;
	font-style: italic;
	font-weight:500;
	font-size:14px;
    letter-spacing: 0.4px;
    line-height: 23px;
    
}
.box{
	display:flex;
	text-align:center;
	justify-content:space-between;
	gap: 30px;
	
}


.table{
	width:25%;
	height:auto;
	box-shadow: 0px 0px 1px #8787;
	border-radius: 15px;
	position: relative;
    overflow: hidden;
	
}
.heading{
	background-color:#8080801c;
	color:#1d63af;
	font-size:14px;
	text-align:center;
	padding:20px;
	font-family: 'Raleway', sans-serif;
}

.content{
	margin:10px 0;
	padding:05px;
	
}
.content p{
	
	font-size:13px;
	font-weight:500;
	line-height:35px;
	font-family: 'Lato', sans-serif;
}
.content del{
	color:#8080808a;
}
.button{
	    background-color: #f8f8f8;
		padding:20px;
		font-weight:200;
		
}
 .button a{
	border-radius:21px;
	padding:10px 25px;
	background-color:rgb(9,127,233);
	color:white;
	text-decoration:none;
}
.content sup{
	font-size:22px;
	font-weight:600;
	color:#0980e8;
	position: relative;
    top: -15px;
	
}
.content span{
	font-size:40px;
	color:#2a68c9f5;
	font-weight:600;
	font-family:arial;
}
.content sub{
	font-size:17px;
	font-weight:100;
	color:#80808070;
	font-family:arial;
}
.advanced{
	color: white;
    background-color: #0980e8;
    position: absolute;
    width: 172px;
    height: 20px;
    transform: rotate(42deg);
    top: 20px;
    left: 141px;
}


.line-through{
	text-decoration:line-through;
    color:#8080805e;

}

.heading:hover{
	color:white;
	background-color:#0980e8;
}














